:root {
    --primary-color-main: #DF7861;
    --primary-color-light: #ECB390;
    --secondary-color-main: #75b38b;
}

table.availability-table {
    margin: auto;
}

.availability-table-cell {
    min-width: 48px;
    min-height: 24px;
}

table.availability-table{
    border-collapse: collapse;
    padding: 0;
    user-select: none;
}

table.availability-table .someAvail {
    background-color: var(--primary-color-light);

}

table.availability-table .allAvail {
    background-color: var(--primary-color-main);
}

table.availability-table .selected {
    background-color: #5fa2db;
    /* background-color: var(--secondary-color-main); */
}


table.availability-table tbody td {
    border: 1px solid #999;
    text-align: center;
}

table.availability-table .hour {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: small;
    font-style: normal;
}

table.availability-table .date {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: small;
    font-style: normal;
    vertical-align: bottom;
    text-align: center;
}