* {
    font-family: 'Merriweather', serif;
    line-height: 2;
}
.outer-div{
    margin: 3% 15%;
}

.mission-div{
    margin-bottom: 30px;
}

.image{
    width: 25%;
    height:auto;
    margin-bottom: 30px;
}

.right{
    float: right;
    margin-left: 30px;
}

.left{
    float: left;
    margin-right: 30px;
}
.section{
    margin: 80px auto;
    text-align: left;
    width: 80%;
}

.icon {
    font-size: 30px;
    color: black;
    padding: 15px;
}

.icon:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    h3 {
        text-align: center;
    }

    .image{
        width: 60%;
    }

    .right{
        float: none;
    }

    .left{
        float: none;
    }
    .section{
        text-align: center;
    }
}